<ion-view view-title="{{book.name}}">
  <ion-content>
	<div class="item item-thumbnail-left">
		<img src="cover.jpg">
		<h2>{{book.name}}</h2>
      	<p>作者：{{book.author}}</p>
		<p>最新章节：{{book.lastchapter}}</p>
		<p>
			<button class="button button-small ion-android-arrow-dropright">阅读</button>
			<button class="button button-small ion-android-add-circle">收藏</button>
			<button class="button button-small ion-android-bookmark">标记</button>
		</p>
	</div>
	<div class="item item-body">
		<p>
			<a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
		    <a href="#">
		      <i class="subdued icon ion-android-star">Comment</i>
		    </a>
	    </p>
	</div>
	<div class="item item-body">
		<p>
	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	      the content is from a card-body consisting of an image and paragraph text. The footer
	      consists of tabs, icons aligned left, within the card-footer.
	    </p>
	</div>
	
  </ion-content>
</ion-view>