<ion-view view-title="书籍列表" ng-controller="MainCtrl" >
  <ion-content >
	<label class="item item-input">
		<input type="text" placeholder="搜索">
		<button class="button button-balanced" ng-click="searchKey()">
		    搜索
		</button>
	</label>
    <ion-list>
      <ion-item can-swipe="listCanSwipe" ng-repeat="book in booklists" class="item">
        <span ng-click="#/app/book/{{book.id}}">{{book.name}}</span>
        <span class="item-note" ng-click="favorite(book)">
			收藏
		</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
