<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
		  <ion-item>
			  <span>Item 1</span>
			  <ion-delete-button class="ion-minus-circled" ng-click=""></ion-delete-button>
			  <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
		  </ion-item>
		  <ion-item>
			  <span>Item 2</span>
			  <ion-delete-button class="ion-minus-circled" ng-click=""></ion-delete-button>
			  <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
		  </ion-item>
		  <ion-item>
			  <span>Item 3</span>
			  <ion-delete-button class="ion-minus-circled" ng-click=""></ion-delete-button>
			  <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
		  </ion-item>
	  </ion-list>
    </ion-content>
</ion-modal-view>
</body>
</html>